<!DOCTYPE html>
<html>      
 <head>
   <title>Items</title>    
 </head>
 <body>
       {% extends "main.html" %}
       {% block main %}
       <div id="div_main" class="container" >
        <div id="div_values">                   
        <div class="pull-left"><h3>Values</h3></div>        
        <table class="table table-bordered table-condensed table-striped">
              <thead>
                <tr>
                  <th class="col-xs-2">Name</th>
                  <th class="col-xs-6">Value</th>                
                </tr>
              </thead>
              <tbody>
              {% for item in values %}
                  <tr>
                      <td>
                        {{ item['label'] }}
                      </td>
                      <td>                        
                        {% raw item['control'] %}                        
                      </td>                                        
                  </tr>                        
              {% end %}
              </tbody>
        </table>
        </div>

        <div id="div_charts" style="display: none;">   
          <h3>Value Chart</h3>
          <div id="chart"></div>
        </div>

        
        <div id="div_settings" style="display: none;">
        <h3>Settings</h3>                  
       <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>                  
            </tr>
          </thead>
          <tbody>
              {% for item in actions %}
              <tr>
                 <td>{{ item['label'] }}</td>
                <td>{% raw item['control'] %}</td>            
              </tr>                        
              {% end %}
          </tbody>
      </table> 
      </div>
      </div>
    {% end %}
 </body>
 {% block script %} 
 {% end %}
</html>



